.message {
  display: flex;
  justify-content: space-between;
}

.message .sidebar {
  width: 186px;
}

.message .groupRequest {
  width: 28%;
}

.message .inbox {
  width: 800px;
  padding: 30px 50px;
  border-radius: 10px;
  height: 98vh;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border-radius: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .message {
    display: block;
  }
  .message .inbox {
    width: 90%;
    padding: 20px 15px;
    margin: 0 auto;
    margin-top: 30px;
  }
}
