.searchBtn i {
  text-align: end;
}

.anotherChats {
  background-color: #191b1e;
  border-radius: 6px;
  transition: 0.4s;
  border: 2px solid #191b1e;
  padding: 15px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #c4cfde;
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 15px;
  position: relative;
}

.date {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #c4cfde;
}

.flexChat {
  display: flex;
  justify-content: flex-end;
}

.flexChat .anotherChats {
  background-color: #5f35f5 !important;
  color: #fff;
}

.messageSend {
  display: flex;
  justify-content: space-between;
}

.messageSend input {
  width: 90%;
}

.messageSend .groupBtn {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.chat {
  height: 65vh;
  /* overflow-y: scroll; */
}

.uploadImg {
  width: 100%;
  height: 100vh;
  background-color: rgba(47, 46, 46, 0.699);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBox {
  background: #191b1e;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  padding: 50px;
  color: #fff;
}

.imgBox h3 {
  margin-bottom: 20px;
}

.imgBox .upload {
  margin-right: 100px;
}

.imgBox .cancel {
  background-color: red !important;
}

.messageSend {
  position: relative;
}

.messageSend .imgIcon {
  color: #fff;
  position: absolute;
  bottom: 17px;
  right: 122px;
  font-size: 18px;
}

.emoji {
  margin-right: 28px;
}

.emojiIcon {
  position: absolute;
  top: -416px;
  right: 37px;
}

.crossIcon {
  color: red;
}

.voiceRecord {
  position: absolute;
  bottom: 13px;
  right: 81px;
}

.audio-recorder {
  width: 28px !important;
  padding: 6px !important;
}

.chattingImg {
  width: 200px;
  height: 150px;
}

.chattingImg img {
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .uploadImg {
    top: 167%;
  }
  .emojiIcon {
    right: -27px;
  }
}
